[ req ]
default_md             = sha256
default_bits           = 2048
distinguished_name     = req_distinguished_name
req_extensions         = req_ext
prompt = no

[ req_distinguished_name ]
countryName = IN
stateOrProvinceName = MH
localityName = Pune
organizationName = Client  
organizationalUnitName = IT
commonName = tech.client.com
emailAddress = tech.client@gmail.com

[ req_ext ]
subjectAltName = @alt_names
extendedKeyUsage = clientAuth

[alt_names]
DNS.1   = localhost
DNS.2   = tech.client.com
IP      = 127.0.0.1

